.header{
    height: 80px;
    width: 80%;
    margin: auto;
    background-color: black;
}
.body{
    height: 900px;
    width: 80%;
    margin: auto;
    background: white;
    background-image: url(../images/001.jpg);
    background-size: 500px,400px;
    background-repeat: repeat;
}
.footer{
    height: 100px;
    width: 80%;
    margin: auto;
    background-color: cadetblue;
}